*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #F4F8FE;
}

.grid{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header{
    text-align: center;
    padding: 2rem;
    font-size: 2.4rem;
    color: #0F3885;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 32rem);
    grid-gap: 2rem;
    border: .8rem solid #0F3885;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.card{
    cursor: pointer;
    width: 34rem;
    height: 48rem;
    margin: auto;
}

.front, .back{
    width: 32rem;
    height: 48rem;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front img{
    height: 100%;
}

.front{
    transform: perspective(60rem) rotateY(0deg);
}

.back{
    background: #0F3885;
    color: aliceblue;
    font-size: 1.6rem;
    transform: perspective(60rem) rotateY(180deg);
    position: relative;
}

.back p{
    color: #F4F8FE;
    margin-top: 1rem;
}

.back-content{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.card:hover > .front{
    transform: perspective(60rem) rotateY(-180deg);
}

.card:hover > .back{
    transform: perspective(60rem) rotateY(0deg);
}

.back h2{
    text-align: center;
    font-size: 2.4rem;
}

footer{
    background-color: #0F3885;
    color: #F4F8FE;
    font-size: 1.6rem;
    padding: 5rem;
}
